<div class="container">
	<table border="1" class="col-sm-12">
		<tr>
			<th>N° de département</th>
			<th>Nom de département</th>
			<th>Nom de commune</th>
			<th>Email du mairie</th>
			<th>Opérateur</th>
		</tr>
		<% @annuaires.each do |element| %>
			<tr>
				<td><%= element.num_dept %></td>
				<td><%= element.nom_dpt %></td>
				<td><%= element.commune %></td>
				<td><%= element.email %></td>
				<td><%= element.email %></td> <!-- A remplacer par le créateur du post -->
			</tr>
		<% end %>
	</table>
</div>